* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.Header {
    position: relative;
    background-image: url(/assets/Background.png);
    background-position: bottom right;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 822px;
    width: 1315px; 
    
}
.big-logo {
    height: 62.99581527709961px;
    width: 62.995819091796875px;
    position: absolute;
    top: 274px;
    left: 685px;

}

.first-text {
    position: absolute;
    top: 350px;
    left: 523px;
    height: 118px;
    width: 386px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.first-text h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    color: #FFFFFF;
}
.second-text {
    position: absolute;
    top: 510px;
    left: 503px;
    width: 426px;
    height: 56px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.second-text h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.first-section {
    position: relative;
    height: 700px;
    width: 1200px;
    left: 111px;
    top: 0px;
    border-radius: 0px;
    display: block;
    background-position: bottom right;
}
.first-article {
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 87px;
    
}
.first-article h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    color: #464547;
}
.third-text {
    position: absolute;
    top: 246px;
    left: 387px;
    width: 426px;
    height: 57px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}
.third-text h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;

}
.first-paragraph {
    position: absolute;
    top: 351px;
    left: 97px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 983px;
    height: 194px;
}
.first-paragraph p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;

}
.button {
    position: absolute;
    top: 566px;
    left: 542px;
    border-radius: 18px;
    /* background: #55C2D8; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;


}
.button-first {
    background: #55C2D8;
    border-radius: 18px;
    height: 36px;
    width: 115px;
    color: #FFFFFF;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    border: 0px;

}
.second-section {
    height: 666px;
    width: 1200px;
    background-image: url(/assets/second\ background.png);
    position: relative;
    top: -20px;
    left: 115px;
    
    
}
.second-article {
    position: absolute;
    width: 480px;
    height: 117px;
    top: 84px;
    left: 360px;
}
.second-article h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.big-button {
    position: absolute;
    top: 254px;
    left: 525px;
    
    
}
.button-player {
    background-color: #39C2D7;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 0px;
    color: #FFFFFF;
    font-size: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.last-text {
    position: absolute;
    width: 390px;
    height: 102px;
    top: 474px;
    left: 395px;
}
.last-text h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}
footer {
    position: relative;
    height: 170px;
    width: 1200px;
    background: #464547;
    left: 115px;
    top: -20px;
    display: flex;
    flex-direction: column;
}
.footer-box{
    position: absolute;
    top: 19px;
    left: 145px;
    height: 90px;
    width: 250px;
}

.footer-logo {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 128px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    
}
.adress {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */


color: rgba(255, 255, 255, 0.4);
}
#last-line {
    margin-top:0px;
}

